<div style="float: center;">
    <h1>{{ contacto[0].contacto }}</h1>
    <h3>{{ contacto[0].mensajeDCescricion }} </h3>
    <h5>{{ contacto[0].camposMarcados}}</h5>
    <label>Nombre Completo: *</label><br>
    <input type="text" id="nombreContacto" /><br>
    <label>Correo Electronico: *</label><br>
    <input type="text" id="emailContacto" /><br>
    <label>Telefono: * </label><br>
    <input type="text" id="telefonoContacto" /><br>
    <label>Fecha del evento: *</label><br>
    <input type="text" id="fechaShoot" /><br><br>

    <input type="button" onclick="enviarInformacion()" value="Enviar" />




</div>