<table style="width:100%">
    <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Identificacion</th>
        <th>Email</th>
        <!-- <th>Rol</th> -->
    </tr>
    <tr *ngFor="let user of users;let i = index">
        <td>{{users[i].name}}</td>
        <td>{{users[i].lastName}}</td>
        <td>{{users[i].identificationCard}}</td>
        <td>{{users[i].email}}</td>
        <!--<td>{{users[i].rol.name}}</td> -->
    </tr>
</table>
<button (click)=" mostrar =!mostrar " class="btn btn-outline-primary btn-block">
   Agregar usuario
</button>
<div *ngIf="mostrar" style="width: 100%;">
    <h2>Registro de usuario</h2>

    <form #usuarioForm="ngForm" (ngSubmit)="onSubmit(usuarioForm)">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="usuario.name" required pattern="[a-zA-Z]+" />
        <span *ngIf="nombre.touched && !nombre.valid">El nombre no es valido</span>
        <br/>
        <label for="apellido">Apellido</label>
        <input type="text" name="apellido" #apellidos="ngModel" [(ngModel)]="usuario.lastName" required pattern="[a-zA-Z]+" />
        <span *ngIf="apellidos.touched && !apellidos.valid">El apellido no es valido</span>
        <br/>
        <label for="identificacion">Identificacion</label>
        <input type="number" name="identificacion" #identificacion="ngModel" [(ngModel)]="usuario.identificationCard" required />
        <span *ngIf="identificacion.touched && !identificacion.valid">la identificacion no es valido</span>
        <br/>
        <label for="email">Email</label>
        <input type="text" name="email" #email="ngModel" [(ngModel)]="usuario.email" required pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" />
        <span *ngIf="email.touched && !email.valid">el email no es valido</span>
        <br/>
        <label for="rol">Rol</label>
        <!--<select>
          <option *ngFor="let rol of roles;let i = index"  value="{{ roles[i].idRole }}">{{roles[i].name}}</option>
        </select>-->

        <input type="submit" value="Enviar" [disabled]="!usuarioForm.form.valid" />
    </form>
</div>