<h1>
    {{ evento.nombreEvento | uppercase }} <small>({{ evento.fechaEvento | date:'y' }})</small></h1>
<hr>


<div class="row">
    <div class="col-md-12">

        <img src="{{ evento.imagenMiniatura }}" class="img-fluid" alt="">
        <br><br>
        <a [routerLink]="['/blog']" class="btn btn-outline-danger btn-block">Regresar</a>

    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3> {{ evento.nombreEvento }}</h3>
        <hr>
        <p>
            {{ evento.descripcionEvento }}
        </p>
        <div>
            <img *ngFor="let blog of evento.imagenesEvento; let i = index" class="img-logo" src="{{ evento.imagenesEvento[i] }}" alt="Eventos">
        </div>
    </div>
</div>